<h1>{{(this.cliente.id != '0' ? 'Editar':'Incluir')+' Cliente'}}</h1>

<form [formGroup]="formCliente" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="razaoSocial">Razão Social</label>
    <input type="text" class="form-control" formControlName="razaoSocial" id="razaoSocial" value={{this.cliente.razaoSocial}} required>
  </div>

  <div class="form-group">
    <label for="cnpj">CNPJ</label>
    <input type="text" class="form-control" formControlName="cnpj" id="cnpj" value={{this.cliente.cnpj}} pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})" required>
  </div>

  <div class="form-group">
    <label for="dataCadastramento">Data Cadastramento</label>
    <input type="text" class="form-control" formControlName="dataCadastramento" id="dataCadastramento" value={{this.cliente.dataCadastramento}} disabled>
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Salvar">
  <a  routerLink="/clientes" class="btn btn-secondary mt-4 ml-2">Cancelar</a>

</form>
