
  <h1 id="tableLabel">Clientes</h1>
  
  <p>
    Lista de todos os clientes.
      <button class="btn btn-primary" (click)="newClient($event)">Inserir</button>
  </p>

<p *ngIf="!forecasts"><em>Carregando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Comandos</th>
      <th>Código</th>
      <th>Razão Social</th>
      <th>CNPJ</th>
      <th>Data de Cadastramento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>
        <button className="btn btn-edit btn-edit-l" (click)="handleEdit(forecast.id)">Editar</button>
        <button className="btn btn-del btn-del-l" (click)="handleDelete(forecast.id, forecast.razaoSocial)">Deletar</button>

      </td>
      <td>{{ forecast.id }}</td>
      <td>{{ forecast.razaoSocial }}</td>
      <td>{{ forecast.cnpj }}</td>
      <td>{{ forecast.dataCadastramento }}</td>
    </tr>
  </tbody>
</table>
