
  <h1 id="tableLabel">Clientes</h1>
  
  <p>
      <button class="btn btn-primary" [routerLink]="['/addCliente', 0]"> Novo </button>
  </p>

<p *ngIf="!clientes"><em>Carregando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clientes">
  <thead>
    <tr>
      <th>Comandos</th>
      <th>Código</th>
      <th>Razão Social</th>
      <th>CNPJ</th>
      <th>Data de Cadastramento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>
        <button class="btn btn-edit btn-edit-l" [routerLink]="['/addCliente', cliente.id]">Editar</button>
        <button class="btn btn-del btn-del-l" (click)="handleDelete(cliente.id, cliente.razaoSocial)">Excluir</button>
      </td>
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.razaoSocial }}</td>
      <td>{{ cliente.cnpj }}</td>
      <td>{{ cliente.dataCadastramento }}</td>
    </tr>
  </tbody>
</table>
