USE [master]
GO
/****** Object:  Database [cqrscrud]    Script Date: 30/08/2021 21:56:32 ******/
CREATE DATABASE [cqrscrud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cqrscrud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\cqrscrud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cqrscrud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\cqrscrud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cqrscrud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cqrscrud]
GO
/****** Object:  User [cqrs]    Script Date: 30/08/2021 21:56:53 ******/
CREATE USER [cqrs] FOR LOGIN [cqrs] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 30/08/2021 21:56:53 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cqrs]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 30/08/2021 21:56:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RazaoSocial] [varchar](80) NOT NULL,
	[CNPJ] [varchar](18) NOT NULL,
	[DataCadastramento] [varchar](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
