<h1>CRUD Clientes com CQRS</h1>
<p>Exemplo de CRUD de Clientes com uso das seguintes tecnologias:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para o código do back-end</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> Para o código do front-end</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para o layout e estilo</li>
  <li>Banco de dados SQL Server </li>
  <li>ORM Entity Framework </li>
  <li>Padrão de Arquitetura CQRS</li>
  <li>Padrão de projeto Mediator com Dependency Injection</li>
</ul>
